<h3>Listado de Heroes</h3>

<div *ngIf="deletedHero; else nothingWasDeleted">
  <h3>
    Héroe borrado <small class="text-danger">{{ deletedHero }}</small>
  </h3>
</div>

<ng-template #nothingWasDeleted>
  <h3>No se ha borrado nada</h3>
</ng-template>

<button
  *ngIf="heroesNames.length > 0"
  (click)="removeLastHero()"
  class="btn btn-outline-danger"
>
  Borrar ultimo hero
</button>

<ul class="mt-2 list-group">
  <li class="list-group-item" *ngFor="let hero of heroesNames">{{ hero }}</li>
</ul>
